---
layout: default
title: Reproducible Builds summit in Marrakesh 2019
permalink: /events/Marrakesh2019/
event_hide: false
event_date: 2019-12-01
event_date_string: December 1st-8th 2019, with December 3rd-5th as 'core days'
event_location: Marrakesh, Morocco
event_summary: Seven total days of hacking, including a three-day 'core' workshop to continue and grow the Reproducible Builds effort.
---

<h1>{{ page.title }}</h1>

<p><strong>When:</strong> {{ page.event_date_string }}.</p>
<p><strong>What:</strong> {{ page.event_summary }}</p>
<p>As a follow up to the four previous reproducible builds workshops in
  <a href="{{ "/events/athens2015/" | prepend: site.baseurl }}">Athens 2015</a>,
  <a href="{{ "/events/berlin2016/" | prepend: site.baseurl }}">Berlin 2016</a>,
  <a href="{{ "/events/berlin2017/" | prepend: site.baseurl }}">Berlin 2017</a> and
  <a href="{{ "/events/paris2018/" | prepend: site.baseurl }}">Paris 2018</a>,
  the reproducible builds folks will meet again in Marrakesh.
</p>

<h2>Extended format</h2>
<p>
  Just like previous years, the heart of the workshop will be three days of moderated sessions with the goals outlined just below.
</p>
<p>
  The days before and after these three days will have no organized activity, besides a short "stand-up"-like meeting, where we'll hopefully be sitting on the sunny roof-top, trying to find some shadow and briefly sharing our activities in the last day. In other words, those are "free days" where you can be excellent.
</p>

<h2>Goals</h2>
<p>
  As in previous years, the exact content of the meeting will be shaped by the participants,
  these are our main goals as organizers:
</p>
<ul>
  <li>Update &amp; exchange about the status of reproducible builds in various projects.</li>
  <li>Improve collaboration both between and inside projects.</li>
  <li>Expand the scope and reach of reproducible builds to more projects.</li>
  <li>Work together and hack on solutions.</li>
  <li>Establish space for more strategic and long-term thinking than is possible in virtual channels.</li>
  <li>Brainstorm designs on tools enabling users to get the most benefits from reproducible builds.</li>
  <li>Discuss how reproducible builds will be usable and meaningful to users and developers alike.</li>
</ul>

<h2>Participants</h2>
<p>
  As of now there will be participants from Apache Maven, Arch Linux, Bazel,
  coreboot, Debian, F-Droid, GNU Guix, GNU Mes, Google, Huawei, in-toto,
  Indiana University (IU), Microsoft, MirageOS, New York University (NYU),
  NixOS, openSUSE, OpenWrt, Tails, Tor Project, University of Pennsylvania (UPenn)
  and more&hellip; <br />
</p>

<!-- img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/groupphoto_rws4_paris_2018_small.png" | prepend: site.baseurl }}" alt="Reproducible Summit 4 in Paris 2018"/>

<h2>Reports</h2>

<p>
  <ul>A number of reports have been published:
    <li><a href="{{ "/events/paris2018/report/" | prepend: site.baseurl }}"> Meeting report by Aspiration</a> (HTML version)</li>
  </ul>
</p -->

<h2>Location</h2>

<p>
  <a href="https://en.wikipedia.org/wiki/Marrakesh">Marrakech</a>,
  <a href="https://en.wikipedia.org/wiki/Morocco">Morocco</a> at
  <em><a href="https://www.queenscollective.org/artistryasactivism">Priscilla, Queen of the Medina</a></em>
</p>

<p>
  <em>Priscilla, Queen of the Medina</em> is run by the Queens Collective and
  is located directly in the medina of Marrakesh. The venue has been used for
  several <a href="http://retreat.mirage.io/">Mirage OS development retreats</a> (see reports there).
  </p>
  <p>
  The Queens Collective stands for gender equality, female empowerment and the
  engagement of vulnerable communities locally through cultural activism.
  Please do reach out to us if you have any concerns whatsoever about your
  safety whilst attending.
  </p>
  <p>
  The location is 7.98415°W,  31.63019°N, the address is 27 Derb el Ferrane Azbezt.
  </p>
  <p>
  Marrakesh is one of the historic cultural centers of the country and many of the
  <a href="https://en.wikipedia.org/wiki/Landmarks_of_Marrakesh">landmarks
  of Marrakesh</a> are in close walking distance.
  </p>

<p>
 As you probably can guess from the pictures it's a nice and simple venue, more like a youth hostel. 
 Also this is more the case for the main house (called 'Queens') with 18 beds, while the guesthouse next door (called 'Priscilla')
 has 12 beds and more privacy.
</p>

<p>
 There are <em>many</em> alternate accommodation options nearby, the following are some which are less than 5minutes walking away:
 <ul>
  <li><a href="https://www.airbnb.de/rooms/10462008?sl_alternate_dates_exclusion=true&adults=1&check_in=2019-12-01&guests=1&check_out=2019-12-08&source_impression_id=p3_1569609974_fggNtLFTeftD1u%2B%2B">Riad Dar Sarsar Artistic Music Oud</a> (&gt; 16€/night)</li>
  <li><a href="https://colorsafra.com">Riad Color Safra</a> (&gt; 55€/night)</li>
  <li><a href="http://www.tchaikana.com/en/">Riad Tchaikana</a> (&gt; 70€/night)</li>
  <li><a href="http://www.riadkarmelaprincesse.com">Riad Karmela</a> (&gt; 150€/night)</li>
 </ul>
</p>

<p>
 To enable us to focus on our workshop and it's goals, freshly prepared local
 food is served for breakfast, lunch and dinner.
</p>

<p>
 There's wireless network at the venue, though it's not broadband, but an LTE connection (or two). As you might guess, this is also to enable us to focus on our workshop and it's goals, discussions and collaboration ;)
</p>

<h3>Costs</h3>

<p>
  The costs per person staying for a week for accomodation, food and using the venue are 350€, that's 50€ per day.
  If you choose alternative accomodation it is 35€ per day for food and using the venue.</br>
  We very much welcome attendees or their employers covering these costs. (Until November 15th 2019 we accepted requests for sponsored travel and accomodation. Until the 30th of November you can still register but will need to cover the expenses yourself.)
</p>

<h3>Photos of the venue</h3>

<p>
  <img src="/images/marrakesh2019/IMG_20190311_160651.jpg" width="640px" />
  Every venue is best described first with a cat picture.
  <br />
  <img src="/images/marrakesh2019/IMG_20190311_090022.jpg" width="640px" />
  The roof-top hacklab.
  <br />
  <img src="/images/marrakesh2019/IMG_20190311_090452.jpg" width="640px" />
  The bottom-level main room showing 2/3 of it.
  <br />
  <img src="/images/marrakesh2019/IMG_20190311_090605.jpg" width="640px" />
  View on the middle level.
  <br />
  <img src="/images/marrakesh2019/Mirage-hack-retreat-2018-29.jpg" width="480px" />
  Breakfast.
  <br />
  <img src="/images/marrakesh2019/IMG_20190312_203306.jpg" width="640px" />
  Food at a special event.
  <br />
  <img src="/images/marrakesh2019/IMG_20190311_163739.jpg" width="640px" />
  Two inhabitants and a relaxed visitor.
</p>

<h2>Schedule</h2>
<ul>
  <li>December 1: Arrival Day (only dinner provided)</li>
  <li>December 2: Coding day</li>
  <li>December 3: Summit day</li>
  <li>December 4: Summit day</li>
  <li>December 5: Summit day</li>
  <li>December 6: Coding day</li>
  <li>December 7: Coding day</li>
  <li>December 8: Departure Day (only breakfast provided, maybe lunch)</li>
</ul>

<p>
 Besides that, the daily schedules will be roughly as described above in the <em>Extended format</em> and <em>Goals</em> sections, gently adjusted by the timings of the food breaks. There will be breakfast, lunch and dinner provided at the venue.
</p>

<h3>Other activities</h3>
<p>
  <em>To be organized</em> by the attendees while in Marrakesh. There are plenty of options and advice available, but other activities will need to be organized by those non-organizers, who would love to participate in an excursion to the mountains or the sea or the city of Marrakesh. The venue will be glad to provide friendly help.
</p>

<h2>Code of Conduct</h2>
<p>
  This event will be run under the guidance of the <a href="http://debconf.org/codeofconduct.shtml">DebConf Code of Conduct</a> and the <a href="https://www.debian.org/code_of_conduct">Debian Code of Conduct</a>.
</p>
<p>
  The organisers are committed to providing an event where all participants feel safe. Attendees are expected to treat all people with respect and help create a welcoming environment. If you notice behaviour that fails to meet this standard, please speak up (aloud or in private to the organisers).
</p>

<h3>Organized by</h3>

<a href="https://aspirationtech.org/"><img src="{{ "/images/logos/aspirationtech.jpg" | prepend: site.baseurl }}" alt="Aspiration" style="margin: 20px;"/></a>
&amp;
Holger, Vagrant, Chris and Mattia

<h2>Sponsors</h2>

<p>
  <a href="https://www.fordfoundation.org/"><img style="margin-top: 20px; vertical-align: top;" src="{{ "/images/logos/fordfoundation.png" | prepend: site.baseurl }}" alt="Ford Foundation" /></a>
  <br />
  <!--a href="https://opentech.fund/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/opentechfund.png" | prepend: site.baseurl }}" alt="Open Technology Fund"/></a>
  <br /-->
  <a href="https://opensource.google.com/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/google.png" | prepend: site.baseurl }}" alt="Google Open Source Research" /></a>
  <br />
  <!--a href="https://www.debian.org/"><img style="margin-top: 15px; vertical-align: top;" src="{{ "/images/logos/debian.png" | prepend: site.baseurl }}" alt="Debian"></a>
  <br />
  <a href="https://protocol.ai/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/protocol-labs.png" | prepend: site.baseurl }}" alt="Protocol Labs"></a-->
</p>

<p>
  We are welcoming further sponsors for this event! Please contact <a href="mailto:holger@layer-acht.org">holger@layer-acht.org</a> if you want to support this event.
</p>


<h2>Travel and getting there</h2>

<h3>Visas</h3>

According to the <a href="https://en.wikipedia.org/wiki/Visa_policy_of_Morocco">Wikipedia
article on the Visa policy of Morocco</a>, most of our attendees will not need a visa for
entering Morocco but some unfortunately do.

<h3>Travel to Marrakesh and the venue</h3>

<p>
  The nearest airport is <a href="https://en.wikipedia.org/wiki/Marrakesh_Menara_Airport">Marrakesh
  Menara Airport (RAK)</a>.  There is also Marrakesh Railway Station (train service from
 and to Tangier, reachable from Spain by ferry).
</p>
<p>
From the airport or railway station, take a taxi to <strong>Jemaa el-Fnaa</strong>
(the *<a href="https://en.wikipedia.org/wiki/Jemaa_el-Fnaa">big square</a>* in the
city centre). There's also a much cheaper bus leaving 42m in sight of the taxis from the parking lot.
</p>
<p>
 Then you can also follow this <a href="https://raw.githubusercontent.com/mirage/marrakech2017/master/data/map.jpg">old map from 2017</a>, the address is <strong>27 Derb el Ferrane Azbezt</strong>. A <a href="https://www.youtube.com/watch?v=zgzwmyxlKBE">video</a> contains detailed descriptions. Or, if you have a magical device: the location is 7.98415°W,  31.63019°N. (But read on!)

</p>
<p>
  If you haven't been to the venue before, we recommend (and we are happy to) pick you up at Jemaa el-Fnaa (phone number will be provided after registration). The path is easy and safe but probably just a bit overwhelming upon first arrival.
</p>

<h2>Registration</h2>
<p>
  Registration for attending this event is mandatory and done by sending a short email to <a href="mailto:holger@layer-acht.org">holger@layer-acht.org</a>, expressing that you want to attend and possible shortly stating your involvement or other reasons why.
</p>


